html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow: hidden; /* Prevent unwanted scroll */
 background-color: var(--primary-dark);
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-blur-color);
  backdrop-filter: blur(32px);
 
}

body::before {
  content: "";
  position: absolute;
  top: -20%;
  left: -20%;
  width: 400px;
  aspect-ratio: 1/1;
  background-color: var(--accent-light);
  border-radius: 50%;
  pointer-events: none; /* Prevents interfering with interactions */
}